:root {
  font-size: 62.5%;

  --backgorund: #FFFFFF;
  --success: #7ce6b1;
  --danger: #960200;
} 

* {
  margin: 0;
  padding: 0;

  font-family: Roboto;

  box-sizing: border-box;
}

html, body {
  height: 100%;

  font-size: 1.6rem;
}

.container {
  max-width: 1080px;

  margin: 0 auto;
  padding: 0 3%;
}

header h1 {
  padding-top: 2rem;

  font-weight: 400;
  font-size: 4rem;
}

main {
  margin-top: 6rem;
}

main .container {
  display: flex;
}

main .container > div {
  width: 50%;
}

main .country-single {
  display: flex;

  margin: 1.5rem 0;
}

main .country-single button {
  width: 4rem;
  height: 4rem;

  border: 0;
  border-radius: 0.8rem;

  font-weight: 700;
  color: var(--backgorund);

  cursor: pointer;
}

main .country-single .country-image {
  width: 4rem;
  height: 4rem;

  border-radius: 2rem;

  margin: 0 1rem;
}

main .country-single button.success {
  background-color: var(--success);
}

main .country-single button.danger {
  background-color: var(--danger);
}

@media (max-width: 550px) {
  :root {
    font-size: 55%;
  }

  @media (max-width: 460px) {
    :root {
      font-size: 45%;
    }

    @media (max-width: 380px) {
      :root {
        font-size: 35%;
      }

      @media (max-width: 300px) {
        :root {
          font-size: 25%;
        }

        @media (max-width: 220px) {
          :root {
            font-size: 20%;
          }

          @media (max-width: 170px) {
            :root {
              font-size: 15%;
            }

            @media (max-width: 130px) {
              :root {
                font-size: 10%;
              }

              @media (max-width: 130px) {
                :root {
                  font-size: 10%;
                }

                @media (max-width: 90px) {
                  :root {
                    font-size: 7.5%;
                  }

                  @media (max-width: 65px) {
                    :root {
                      font-size: 5%;
                    }

                    @media (max-width: 50px) {
                      :root {
                        font-size: 4%;
                      }

                      @media (max-width: 40px) {
                        :root {
                          font-size: 3%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}